<%- include('./base/header.ejs') %>
    <%- include('./base/nav.ejs') %>
        <!-- <h1>Student has been added...</h1> -->
        <div class="container">
            <div class="alert text-center bg-primary my-3" style="color: white;">
                <h4>Student List</h4>
            </div>
        </div>
        <div class="container">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Student Photo</th>
                        <th>Roll No</th>
                        <th>Student Name</th>
                        <th>Father Name</th>
                        <th>Course</th>
                        <th>Branch</th>
                        <th>Year Of Admission</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach((student)=> { %>
                        <tr>
                            <td>
                                <img src="<%= student.studentImage %>" alt="Student Image" width="50px" height="50px"></img>
                            </td>
                            <td>
                                <%=student.rollNo %>
                            </td>
                            <td>
                                <%=student.name %>
                            </td>
                            <td>
                                <%=student.fatherName %>
                            </td>
                            <td>
                                <%=student.course %>
                            </td>
                            <td>
                                <%=student.branch %>
                            </td>
                            <td>
                                <%=student.yearOfAdmission %>
                            </td>
                            <td>
                                <a href="/edit/student/page/<%= student._id %>" class="btn btn-sm">
                                    <img src="https://img.favpng.com/18/15/5/computer-icons-editing-icon-design-png-favpng-YEAb5Q1mFu6tEWaqYMdE5m4rb.jpg" alt="Edit" width="16">
                                </a>
                                <a href="/delete/student/<%= student._id %>" class="btn btn-sm">
                                    <img src="https://www.clipartmax.com/png/middle/84-842915_delete-icon-png-red.png" alt="Delete" width="25">
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

        <%- include('./base/footer.ejs') %>